<%- include('../parts/head', {bot, user, path}) %>
<title>Oy | <%= botdata.username %> | Discord Botlar</title>
<head>
    <meta name="og:title" content="<%= botdata.username %>#<%=botdata.discrim%>">
    <meta name="og:description" content="<%= botdata.username %> adlı bota oy ver.">
        <meta property="og:image" content="<%= botdata.avatar %>">
</head>
<div class="container px-3 mt-2 pt-5">
    <center>
    <div class="container px-3 content is-widescreen pt-5">
        <div class="bg-vote-vcodes pt-5">
            <div class="botImg-voteArea mt-5">
                <img style="border-radius: 10px;" draggable="false" src="<%= botdata.avatar %>">
            </div>
            <h3 translate="no" class="has-text-white is-size-3" style="margin-bottom: 10px;"><%= botdata.username %><span class="is-size-4" style="opacity: 0.7;">#<%= botdata.discrim %></span></h3>
            <% if(user) { %>
            <p class="has-text-white">Bu bota oy vererek bota destek olabilirsiniz.</p>
            <p class="text-muted">12 saatte bir defa oy verebilirsin.</p>
            <form id="myVote" method="POST">
              <input type="hidden" value="<%= _token %>" name="_token" id="_token">

            <button type="submit" onclick="myVote()" id="voteBTN" class="btn btn-vote"><i class="fad fa-thumbs-up"></i>&nbsp;Oy Ver</button>
            </form>
            <% } else { %>
            <script>
                Swal.fire({
  imageUrl: '<%=botdata.avatar%>',
  imageStyle: 'border-radius: 50%',
  imageAlt: '<%=botdata.username%>`s avatar',
                    title: 'Ooops!',
                    closeOnConfirm: false,
                    showCloseButton: false,
                    showCancelButton: true,
                    allowOutsideClick: false,
                    showConfirmButton: true,
                    confirmButtonText:
    '<i class="fad fa-sign-in"></i> Giriş Yap',
                    focusConfirm: true,
                    text: "Oy verebilmek için giriş yapmalısın.",
                }).then((result) => {
  if (result.isConfirmed) {
    window.location.href = '/login';
  }
});
            </script>
            <% } %>
            <br>
            <br>
        </div>
    </div>
    <button onclick="location.href='/bot/<%=botdata.botID%>'" class="btn btn-back"><i class="fad fa-chevron-left"></i >&nbsp;Geri git <%= botdata.username %></button>
    </center>
</div>

<script>
    function myVote() {
        document.getElementById('myVote').submit();
  document.getElementById("voteBTN").disabled = true;
}
    var urlParams = new URLSearchParams(window.location.search);
    if(urlParams.has('success') && urlParams.get('success')){
    Swal.fire({
     icon: 'success',
     title: 'Başarılı...',
     closeOnConfirm: false,
     text: urlParams.get('message'),
     footer: 'Copyright 2021 &copy Vortex Botlist & CodeShare - All right reserved.'
    }).then((result) => {
  if (result.isConfirmed) {
    window.location.href = `/bot/<%= botdata.botID %>`;
  }
})
    }
    if(urlParams.has('error') && urlParams.get('error')){
    Swal.fire({
     icon: 'error',
     title: 'Oops...',
     text: urlParams.get('message'),
     footer: 'Copyright 2021 &copy Vortex Botlist & CodeShare - All right reserved.'
    }).then((result) => {
  if (result.isConfirmed) {
    window.location.href = `/bot/${req.params.botID}`;
  }    
})
    }
   </script>
<%- include('../parts/foot') %>
