<%- include('../../parts/head', {bot, user, path}) %>
<title>Sertifika | Discord Botlar</title>
<div class="container px-3 mt-2 pt-5">
    <div class="container px-3 content is-widescreen pt-5">
        <div class="bg-vote-vcodes pt-5">
            <h3 class="has-text-white is-size-3" style="margin-bottom: 10px;"> </h3>
            <p class="has-text-white">&raquo&raquo Sertifika Gereksinimleri</p>
            <p class="text-muted">
                &raquo Botunuz en az 1 hafta sunucuda ekli olmalı.
                <br>&raquo 7/24 aktif olmalı.
                <br>&raquo 100+ sunucuya hizmet vermeli.
                <br>&raquo 10.000+ kişiye hizmet vermeli.
                <br>&raquo Projesi çalıntı olmamalı.
                <br>&raquo Hatalı komutu olmamalı.
                </p>
            <br>
            <p class="has-text-white">&raquo&raquo Sertifika Avantajları</p>
            <p class="text-muted">
                <br>&raquo&raquo Botlar İçin
                <br>&raquo Discord sunucuda özel rol alıyor.
                <br>&raquoA Sitede botun profilinde (                <span data-tooltip="<%=bot.guilds.cache.get(config.server.id).roles.cache.get(roles.botlist.certified_bot).name%>" data-tooltip-location="top"> 
                    <i class="fad fa-badge-check has-text-primary" style="font-size: 20px;"></i>
                    </span>) özel rozet gözüküyor.
                
                <br><br>&raquo&raquo Sahipleri İçin
                
                <br>&raquo Discord sunucuda özel rol alıyor.
                <br>&raquo Sitede sahibin profilinde (                <span data-tooltip="<%=bot.guilds.cache.get(config.server.id).roles.cache.get(roles.botlist.certified_developer).name%>" data-tooltip-location="top"> 
                    <i class="fad fa-badge-check" style="color: <%=bot.guilds.cache.get(config.server.id).roles.cache.get(roles.botlist.certified_developer).hexColor%>;font-size: 20px;"></i>
                    </span>) özel rozet gözüküyor.
                </p>
            <br>
        </div>
    </div>
    <center>
    <button onclick="location.href='/certification/apply'" class="btn btn-back"><i class="fad fa-check"></i>&nbsp;Sertifika İste</button>
    </center>
</div>

<%- include('../../parts/foot') %>
